<article class="card mt-3">
    <section class="card-header">
        От: <%= comment.user.name%>
        <div>
            <time datetime="<%= comment.format_created_at %>">
                <%= comment.format_created_at %>
            </time>
        </div>
    </section>
    <div class="card-body">
        <div class="mt-1 mb-1">
            <%= sanitize comment.body %>
        </div>
    </div>    
    <% if owner?(comment) %>
        <section class="card-footer">
        <%= link_to 'Редактировать', edit_post_comment_path(post,comment), class: "btn btn-secondary btn-sm" %>
        <%= link_to 'Удалить', post_comment_path(post,comment), data: {turbo_method: :delete, turbo_confirm: 'Вы уверены?'}, class: "btn btn-danger btn-sm"%>
        </section>
    <% end %>
</article>